# 编译输出目录
/dist
/build
/examples

# 依赖目录
/node_modules

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 环境配置文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编辑器/IDE 配置
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.sublime-project
*.sublime-workspace

# 操作系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# npm配置
.npmrc

# TypeScript缓存
*.tsbuildinfo
.tscache/

# 打包文件
*.tgz
*.zip
*.tar.gz

# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-*
# IDEs
.idea/
.vscode/
*.iml
# macOS
macos/*
# Android/iOS（如有原生端）
android/.gradle/
android/build/
ios/Pods/
ios/Flutter/Flutter.framework/

# 日志
*.log

# Flutter自动生成文件
.metadata

test/widget_test.dart

web/favicon.png
web/icons/
web/index.html
web/manifest.json

